<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Workspaces - UniversalManager</title>
    <link rel="stylesheet" href="/assets/styles.css">
    
    <script src="/assets/lib/js/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/css/sweetalert2.min.css">
    <script type="text/javascript" src="/assets/js/permission.js"></script>

      <% if (typeof perms !== 'undefined') {%>
        <script>
          var perms = '<%- JSON.stringify(perms) %>';
        </script>
      <% } %>


    <style>
      #createUrl {
        color: blue;
      }
    </style>
</head>
<body>
    <%- include('../header'); %>

   <%- include('workspaces'); %>

   <% if (typeof error !== 'undefined') {%>
      <script>
        const error = '<%- error  %>';
      </script>
    <% } %>

    <%- include('../footer'); %>
</body>
</html>